.header
{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	margin:10px;
}
.header .logo
{
	display:flex;
	width:500px;
}
.header .box

{
	display:flex;
	justify-content:center;
	width:500px;
}
.one
{
	height:30px;
	width:60px;
	margin:10px;
	background-color:gray;
	display:flex;
	text-align:center;
	align-items:center;
	justify-content:center;
}
.header .logout
{
	display:flex;
	width:500px;
	justify-content:flex-end;
}
.split1
{
	display:flex;
	justify-content:center;
}
.split1 .b
{
	height:300px;
	width:100%;
	background-color:#C9E4F9;
	margin:10px;
	display:flex;
	text-align:center;
	align-items:center;
	justify-content:center;
}
.split2
{
	display:flex;
	justify-content:center;
}
.split2 .b
{
	height:200px;
	width:740px;
	background-color:#FCC7B5;
	margin:10px;
	display:flex;
	text-align:center;
	align-items:center;
	justify-content:center;
}
.split3
{
	display:flex;
	justify-content:center;
}
.split3 .b
{
	height:200px;
	width:370px;
	margin:10px;
	display:flex;
	text-align:center;
	align-items:center;
	justify-content:center;
}
.split4
{
	display:flex;
	justify-content:center;
}
.split4 .b
{
	height:200px;
	width:740px;
	background-color:#BA8CFF;
	margin:10px;
	display:flex;
	text-align:center;
	align-items:center;
	justify-content:center;
}
.split5
{
	display:flex;
	justify-content:center;
	margin:10px;
}
.split5 .split51
{
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
	height:200px;
	width:1500px;
	margin:0px auto;
	margin-top:10px;
	margin-bottom:10px;
	background-color:gray;
}
.split5 .split51 .b
{
	height:50px;
	width:80px;
	margin:20px;
	display:flex;
	text-align:center;
	align-items:center;
	justify-content:center;
}
.footer
{
	display:flex;
	background-color:#E6E7EC;
	justify-content:center;
	height:100px;
}
.footer .text
{
	height:40px;
	width:70px;
	background-color:#B48069;
	margin:10px;
	display:flex;
	text-align:center;
	align-items:center;
	justify-content:center;
}
.red
{
	background-color:#B48069;
}
.blue
{
	background-color:#E6E7EC;
}
.green
{
	background-color:green;
}
.yellow
{
	background-color:yellow;
}
.brown
{
	background-color:brown;
}
.pink
{
	background-color:pink;
}